body{
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
}
.card{
    width: 320px;
    height: 360px;
    margin-top: 10%;
    border-radius: 25px;
    background-color: hsl(213, 19%, 18%);
    padding: 0px 5px 0px 30px;
    margin-left: 10px;
}
.card img{
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
    background-color: hsl(215, 18%, 21%);
    margin-top: 10%;
}
.text{
    margin-right: 6%;
}
.text #p1{
    font-size: x-large;
    color: hsl(0, 0%, 100%);
}
.text #p2{
    margin-top: -15px;
    margin-bottom: 25px;
    font-size: 13px;
    color: hsl(217, 12%, 63%);
}
.numbers{
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.numValue{
    background-color: hsl(215, 13%, 25%);
    height: 47px;
    width: 47px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: hsl(217, 12%, 63%);
}
.numValue:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.numValue input:checked + label{
    background-color: hsl(215, 13%, 25%);
    color: hsl(0, 0%, 100%);
}
#button{
    margin-top: 35px;
    width: 95%;
    height: 10%;
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 50px;
    color:hsl(0, 0%, 100%);
    text-transform: uppercase;
}
#button:hover{
    cursor: pointer;
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}
#thanks{
    display: flex;
    display: none;
    flex-direction: column;
    background-color: hsl(213, 19%, 18%);
}
#thanks img{
    width: 50%;
    margin-left: 45px;
    border-radius: 100px;
    background-color: hsl(213, 19%, 18%);
}
#ratingText{
    font-size: 15px;
    text-align: center;
    background-color: hsl(213, 17%, 25%);
    color: hsl(25, 97%, 53%);
    width: 70%;
    height: 27px;
    margin-left: 25px;
    border-radius: 50px;
    margin-top: 5px;
    padding-top: 5px;
}
.text #p3{
    margin-top: 15px;
    text-align: center;
    font-size: x-large;
    color: hsl(0, 0%, 100%);
}
.text #p4{
    text-align: center;
    margin-top: -15px;
    margin-bottom: 25px;
    font-size: smaller;
    color: hsl(217, 12%, 63%);
}
